:root{
    display: flex;
    justify-content: center;
}
.mainContainer{
    display: flex;
    justify-content: center;
}
.heading{
font-weight: 700;
font-size: 36px;
/* line-height: 150%; */
color: #2F327D;
}

.heading span{
    color: #F48C06
}

.desc{
font-weight: 400;
font-size: 24px;
/* line-height: 150%; */
text-align: center;
color: #696984;
}
.desc-container{
padding: 0;
margin: 0;
}
.links{
    text-decoration: none;
}
.partnerImg img{
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;   
}
.dots{
    position: absolute;
    left: 50%;
    top: 30%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0; 
    z-index: -1;
}


