:root{
    display: flex;
    justify-content: center;
}
.mainContainer{
    display: flex;
    justify-content: center;
}
.heading{
font-weight: 700;
font-size: 1.5rem;
/* line-height: 150%; */
color: #2F327D;
}
.heading span{
    color: #F48C06
}
.descContainer{
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 180%;
    text-align: center;
    color: #696984;
    width: auto;
    height: auto;
}

.headerContainer{
    display: flex;
    justify-content: center;
}
CardContent{
font-weight: 400;
font-size: 15px;
line-height: 180%;
text-align: center;
color: #696984;
}