.heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    /* line-height: 150%; */
    color: #2F327D;
}
.aboutContainer{
    display: flex;
    align-items: left;
}
.about{
font-family: 'Poppins';
font-style: normal;
font-weight: 350;
font-size: 20px;
width: 65%;
line-height: 150%;
text-align: center;
color: #696984;
}
.dropdcontainer{
    /* position: absolute; */
    /* width: 1332px;
    height: 452px; */
    background: #FFFFFF;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.comunityHeader{
    /* position: absolute; */
/* width: 287.83px;
height: 47.33px; */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 30px;
/* line-height: 45px; */
text-align: center;

color: #2F327D;
}
